@{
    Layout = "_AdminLayout";
}
<table id="test">

    <tr>

        <td>Name</td>
        <td>ABc</td>
    </tr>

      <tr>

        <td>Name1</td>
        <td>ABC</td>
    </tr>

</table>

@section scripts {

<script>

    $(document).ready(function(){

        $("#test").click(function()
        {
            alert("This is example")
        })

    })



</script>
}