@model UserViewModel

@{
    Layout = "_AdminLayout";
}

@ViewBag.Title
<form asp-controller="USer" asp-action="AddUser" method="post">

    <input type="hidden"  asp-for="Id"/>
      <div class="mb-3 mt-3">
    <label for="email" class="form-label">Name:</label>
    <input type="text" class="form-control" id="Name" placeholder="Enter Name" 
    name="Name" asp-for="Name">
  </div>

   <div class="mb-3 mt-3">
    <label for="city" class="form-label">City:</label>
    <input type="text" class="form-control" id="city" placeholder="Enter City" 
    name="City" asp-for="City">
  </div>


  <input type="submit" value="save"  class="btn-primary btn"/>



</form>