@{

    Layout = "_AdminLayout";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">CityMaster</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">


                        <div class="float-right">
                            <a class="btn btn-success" onclick="showInPopup('@Url.Action("AddEditBatch","CityMaster")',false)"><i class="fa fa-plus"></i> Add New</a>

                        </div>




                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>City</th>
                                    <th>Name</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@section scripts {

    <script>

          var  dataTable;

        $(document).ready(function () {
            dataTable = $("#user").DataTable({
                "ajax": {
                    "url": "/Example/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "city" },
                    {
                        "data": "id",
                        "orderable": false,
                        "searchable": false,
                        "width": "150px"
                    }

                ],
                "language": {

                    "emptyTable": "No data found"
                }
            });
        });
    
    </script>
}